<% content_for(:title, 'Admins') %>

<h1 class="text-3xl">Admins</h1>

<%= render 'partials/table/table' do %>
  <%= render 'partials/table/head' do %>
    <%= render 'partials/table/heading', content: 'Email' %>
    <%= render 'partials/table/heading', content: 'Actions' %>
  <% end %>
  <tbody>
    <% @admins.each do |admin| %>
      <%= render 'partials/table/row' do %>
        <%= render 'partials/table/cell', content: "#{admin.email}#{admin.invitation_accepted_at.nil? ? ' (has not accepted invitation)' : ''}" %>
        <%= render 'partials/table/cell' do %>
          <% if admin == current_admin %>
            None (cannot delete self)
          <% elsif admin.super_admin? %>
            None (cannot delete super admin)
          <% else %>
            <%= link_to 'Delete', dashboard_admin_path(admin), method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'underline' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
<% end %>

<%= link_to 'Invite a new admin', new_dashboard_admin_path, class: 'block underline mt-2' %>
