<%= form_with(model: [:dashboard, @section], local: true) do |f| %>
  <%= render partial: 'dashboard/errors', locals: { model: @section } %>

  <div>
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :content, 'Content:' %>
    <%= f.rich_text_area :content %>
  </div>

  <div>
      <%= link_to 'Cancel', dashboard_sections_path %>
      <%= f.submit 'Save' %>
  </div>
<% end %>
