<% content_for(:title, 'Resend Confirmation Instructions') %>

<header class="vbox vbox--centering">
  <h2>Resend confirmation instructions</h2>
</header>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="hbox hbox--centering">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<div class="vbox vbox--centering">
  <%= render "users/shared/links" %>
</div>
