<main class="flex flex-row flex-1 bg-gray-100">
  <nav class="w-1/5 min-w-64 bg-white overflow-y-auto border-gray-300 border-r-2">
    <header class="flex flex-col items-center mx-3 mt-6 pb-6 text-gray-700 border-gray-300 border-b-2">
      <%= fa_icon 'user-circle', class: 'fa-lg fill-current' %>
      <span class="mt-2"><%= current_user.email %></span>
      <%= link_to 'Edit account', edit_user_registration_path, class: 'underline mt-2' %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'underline' %>
    </header>
    <ul class="p-3">
      <% [
           ['Metadata', Dashboard::MetadataController, dashboard_metadata_path],
           ['Sections', Dashboard::SectionsController, dashboard_sections_path]
         ].each do |(name, controller_class, path)| %>
        <li>
          <%= link_to name, path, class: "block px-6 py-3 rounded #{controller.class == controller_class ? 'bg-gray-200' : 'hover:bg-gray-100'}" %>
        </li>
      <% end %>
    </ul>
  </nav>
  <section class="p-12">
    <%= yield %>
  </section>
</main>
