<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <% title = "#{yield(:title).html_safe} | #{@metadata.name}" %>
    <title><%= title %></title>
    <meta itemprop="name" content="<%= title %>"/>
    <meta property="og:title" content="<%= title %>"/>
    <meta name="twitter:title" content="<%= title %>"/>
    <meta property="og:site_name" content="<%= title %>"/>

    <meta name="author" content="<%= @metadata.host %>"/>

    <meta name="keywords" content="<%= @metadata.tags.join(',') %>"/>

    <meta name="description" content="<%= @metadata.description %>"/>
    <meta itemprop="description" content="<%= @metadata.description %>"/>
    <meta property="og:description" content="<%= @metadata.description %>"/>
    <meta name="twitter:description" content="<%= @metadata.description %>"/>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="flex flex-col min-h-full sm:text-lg md:text-xl">
    <% if notice.present? %>
      <header class="w-full p-2">
        <div class="w-full bg-green-200 p-3 border-green-400 border-l-4"><%= notice %></div>
      </header>
    <% end %>

    <% if alert.present? %>
      <header class="w-full p-2">
        <div class="w-full bg-red-200 p-3 border-red-400 border-l-4"><%= alert %></div>
      </header>
    <% end %>

    <% if devise_controller? %>
      <main class="flex-1 flex flex-col items-center justify-center bg-gray-100">
        <%= yield %>
      </main>
    <% elsif controller.class.module_parent == Dashboard %>
      <%= render 'layouts/dashboard' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
